/*===TASK===

Ha mobilra váltasz, a szöveg túl nagy, nehezen olvasható, és nem igazán jól pozicionált.
Magasabb felbontáson és nagyobb monitorokon az idézet túl magasra csúszik az oldalon, amitől a design amatőr benyomást kelt. (Különösen problémás ez az 1920x1080 pixeles felbontáson, ami a világ egyik leggyakoribb képernyőfelbontása.)
Az egész oldalra ráférne egy refaktorálás a mobile-first elvek alapján.
És végül, ha szuper-jófejnek érzed magad, akkor megkereshetnéd az idézetet más nyelveken is, és rakhatnál egy nyelvválasztót az oldal aljára. Így a látogatóid a saját nyelvükön élvezhetnék a szöveget.
Egy egyszerű megoldása a legutolsó pontnak, ha megcsinálod az oldalt különböző nyelveken, és egy egyszerű nav elemmel összekötöd őket. Ehhez persze kell valamennyit kutatnod (hogyan köss össze HTML-oldalakat), de ez a tudás a későbbiekben is jól jöhet még.

Ahogy dolgozol ezeken a kihívásokon, ne feledd el a Git segítségével követni a változtatásaid.

*/

body {
  box-sizing: border-box;
  background-image: url("assets/freedom.jpg");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100vw;
}

h1 {
  margin: 3rem 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .2rem;
}

p {
  text-align: center;
  font-size: 1.2rem;
}

p::before {
  display: inline-block;
  content: "";
  height: 1px;
  background-color: #333;
  width: 10px;
  margin: 0 .5rem .3rem;
}

div {
  width: 100%;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 35vh;
}

a {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.1rem;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: .5rem;
  color: forestgreen;
  background-color: azure;
  transition: .3s ease-in-out;
}

a:hover {
  color: darkblue;
}

a:visited {
  color: darkseagreen;
}